fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9
gTTS==2.5.1
ffmpeg-python==0.2.0
numpy==1.26.4
opencv-python==4.9.0.80
requests==2.32.3
aiofiles==23.2.1
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
librosa==0.10.2
scipy==1.13.1
Pillow==10.3.0
batch-face==1.5.4
edge-tts==6.1.12
python-dotenv
google-generativeai
google-genai
psutil
coqui-tts>=0.24.0
huggingface_hub>=0.23.0